html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  background-color: #1f1c26;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0px 12px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.title::before {
  position: absolute;
  content: "";
  width: 73px;
  height: 5px;
  background-color: #59253e;
  bottom: -5px;
}

.header {
  padding: 65px 0 61px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__btn {
  display: none;
}

.header-nav__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-nav__menu-list + .header-nav__menu-list {
  margin-left: 40px;
}

.header-nav__menu-list--active {
  border-bottom: 5px solid #59253e;
}

.header-nav__menu-list {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.header-nav__menu-list:hover {
  border-bottom: 5px solid #59253e;
}

.header-nav__menu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #f2f2f2;
}

.header-nav__authorization {
  margin-left: 40px;
}

.header-nav__authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__authorization-log-in {
  border: none;
  background-color: #F24B88;
  padding-left: 8px;
  padding-right: 7px;
  font-size: 14px;
  line-height: 21px;
  color: #f2f2f2;
  cursor: pointer;
}

.header-nav__authorization-sign-in {
  border: 1px solid #f2f2f2;
  padding-left: 4px;
  padding-right: 3px;
  font-size: 14px;
  line-height: 21px;
  color: #f2f2f2;
  background-color: #1f1c26;
  cursor: pointer;
}

.workout {
  padding-bottom: 148px;
}

.workout__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.workout__info {
  max-width: 431px;
}

.workout__info-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.215em;
  color: #fff;
  margin-bottom: 65px;
}

.workout__info-span {
  display: block;
  font-weight: 500;
  font-size: 29px;
  line-height: 43px;
  letter-spacing: 0.215em;
  text-transform: uppercase;
}

.workout__info-text {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.36);
  margin-bottom: 91px;
}

.workout__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.workout__info-link {
  padding: 20px 30px 20px 29px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background-color: #ec3779;
  border-radius: 10px;
}

.workout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-left: 67px;
  padding-top: 25px;
}

.workout__content-img {
  border-radius: 20px;
}

.workout-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.workout-content__info {
  background: #332f3c;
  border-radius: 10px;
  padding: 30px 25px 18px 25px;
}

.workout-content__info-title {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
}

.workout-content__info-text {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.36);
  margin-bottom: 19px;
}

.workout-content__more {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  padding-left: 53px;
  position: relative;
}

.workout-content__more::before {
  position: absolute;
  content: url("../img/arrow.svg");
  background: #f24b88;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -10px;
}

.training {
  padding-bottom: 156px;
}

.training__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 46px;
}

.training__info-link {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffff;
}

.training__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.training__item {
  max-width: 368px;
}

.training__item-info {
  padding-top: 12px;
}

.training__item-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}

.training__item-text {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.36);
  margin-bottom: 19px;
}

.training__item-more {
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #F24B88;
  border-radius: 5px;
  padding: 8px 15px 7px;
}

.training__item-btn {
  display: none;
}

.team {
  padding-bottom: 150px;
}

.team__title {
  margin-bottom: 97px;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.team__card {
  width: 261px;
}

.team__card-img {
  width: 261px;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.25));
}

.team__card-info {
  background: #f2f2f2;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  padding: 20px 12px 12px;
}

.team__card-title {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #0d0d0d;
}

.team__card-subtitle {
  display: block;
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-transform: capitalize;
  color: #332f3c;
  margin-bottom: 10px;
}

.team__card-text {
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 57px;
  color: rgba(13, 13, 13, 0.36);
}

.team__card-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  background: #f24b88;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 8px 15px 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.discover-box {
  background-color: #332f3c;
  padding: 66px 0 65px;
  text-align: center;
}

.discover-box__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.215em;
  color: #fff;
}

.discover-box__text {
  display: block;
  margin: 0 auto 69px;
  max-width: 664px;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.discover-box__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.discover-box__info-view, .discover-box__info-more {
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.discover-box__info-view {
  padding: 20px 40px;
  background: #f24b88;
}

.discover-box__info-more {
  padding: 20px 38px;
  background: #1f1c26;
}

.footer {
  padding: 57px 0 34px;
}

.footer-top {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 36px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 54px;
          column-gap: 54px;
}

.footer-top__info {
  max-width: 405px;
}

.footer-top__info .logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
}

.footer-top__info-text {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 15px;
}

.footer-top__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__info-item {
  margin: 0px 4px;
}

.footer-top__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.footer-top__item-item {
  margin-bottom: 15px;
}

.footer-top__item-link {
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #fff;
}

.footer-top__form-email {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  border: none;
  background: #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 8px 20px;
}

.footer-top__form-email::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #7b7b7b;
}

.footer-top__form-email:-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #7b7b7b;
}

.footer-top__form-email::-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #7b7b7b;
}

.footer-top__form-email::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #7b7b7b;
}

.footer-top__form-btn {
  border: none;
  background: #f24b88;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 15px 7px;
}

.footer-bottom {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.footer-bottom__copyright {
  display: block;
  margin-right: 5px;
}

.footer-bottom__link {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  margin-left: auto;
}

@media (max-width: 375px) {
  .header {
    padding: 12px 0 76px;
  }
  .header-nav .logo img {
    width: 107px;
    height: 55px;
  }
  .header-nav__info {
    display: block;
    position: absolute;
    top: 4px;
    right: 0px;
    background: #59253e;
    -webkit-box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.25);
            box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 14px 19px 15px;
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .header-nav .active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header-nav__menu {
    display: contents;
    display: block;
    margin: 0 auto 63px;
    text-align: center;
  }
  .header-nav__menu-list + .header-nav__menu-list {
    margin-left: 0px;
  }
  .header-nav__menu-list {
    margin-bottom: 15px;
  }
  .header-nav__menu-list:last-child {
    margin-bottom: 0;
  }
  .header-nav__menu-list:not(.nohover):hover {
    border: none;
  }
  .header-nav__menu-list--active {
    border-bottom: none;
  }
  .header-nav__menu-list--active:not(.nohover):hover {
    border: none;
  }
  .header-nav__menu-link {
    font-size: 12px;
    line-height: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .header-nav__authorization {
    margin-left: 0px;
  }
  .header-nav__authorization-log-in, .header-nav__authorization-sign-in {
    font-size: 12px;
    line-height: 18px;
  }
  .header-nav__btn {
    display: block;
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }
  .workout {
    padding-bottom: 50px;
  }
  .workout__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .workout__info-title {
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.215em;
    margin-bottom: 9px;
  }
  .workout__info-span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.215em;
    text-transform: uppercase;
  }
  .workout__info-text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.36);
    margin-bottom: 60px;
  }
  .workout__info-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .workout__info-link {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    padding: 11px;
  }
  .workout__info-link:last-child {
    display: none;
  }
  .workout__content {
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-top: 0px;
    margin-bottom: 50px;
  }
  .workout__content-img {
    width: 100%;
    height: 283px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .workout .workout-content {
    display: none;
  }
  .training {
    padding-bottom: 50px;
  }
  .training__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 45px;
  }
  .training .title {
    font-size: 26px;
    line-height: 39px;
  }
  .training .title::before {
    left: 0;
    width: 100%;
  }
  .training__info-link {
    display: none;
  }
  .training__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .training__item-link {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
    margin-left: 5px;
  }
  .training__item-info {
    padding-top: 0;
  }
  .training__item-text {
    display: none;
  }
  .training__item-more {
    display: none;
  }
  .training__item-btn {
    display: block;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: #F24B88;
    border-radius: 5px;
    padding: 8px 15px 7px;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .team {
    padding-bottom: 50px;
  }
  .team__title {
    text-align: center;
    width: 133px;
    margin: 0 auto 31px;
  }
  .team .title {
    font-size: 26px;
    line-height: 39px;
    width: 134px;
  }
  .team .title::before {
    width: 100%;
  }
  .team__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 38px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .team__card {
    width: 44%;
  }
  .team__card-img {
    border-radius: 20px;
  }
  .team__card-img:first-child {
    -o-object-position: center;
       object-position: center;
  }
  .team__card-info {
    padding: 0;
    background-color: transparent;
  }
  .team__card-title {
    font-size: 18px;
    line-height: 27px;
    color: #e5e5e5;
    text-align: center;
  }
  .team__card-subtitle, .team__card-link, .team__card-text {
    display: none;
  }
  .discover {
    background-color: #332f3c;
  }
  .discover-box {
    padding: 15px 0;
  }
  .discover-box__title {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.215em;
    margin-bottom: 10px;
  }
  .discover-box__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 84px;
  }
  .discover-box__info {
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .discover-box__info-view, .discover-box__info-more {
    font-size: 18px;
    line-height: 27px;
    padding: 13px 10px 12px;
  }
  .footer {
    padding: 124px 0 20px;
  }
  .footer-top {
    padding: 35px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-top .logo {
    margin: 0 auto 20px;
  }
  .footer-top .logo img {
    width: 107px;
    height: 55px;
  }
  .footer-top__info-text {
    margin-bottom: 26px;
  }
  .footer-top__info-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 35px;
  }
  .footer-top__info {
    text-align: center;
  }
  .footer-top__box {
    margin-top: 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-top__form-btn {
    margin: 0 auto;
    display: block;
  }
  .footer-top__form-email::-webkit-input-placeholder {
    text-align: center;
  }
  .footer-top__form-email:-ms-input-placeholder {
    text-align: center;
  }
  .footer-top__form-email::-ms-input-placeholder {
    text-align: center;
  }
  .footer-top__form-email::placeholder {
    text-align: center;
  }
  .footer-bottom {
    padding-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-bottom__title {
    margin-left: 5px;
    margin-right: auto;
  }
  .footer-bottom__link {
    margin: 20px auto 0px;
  }
}
/*# sourceMappingURL=style.css.map */